:host
    position: absolute
    top: 0
    height: 100%

.diamond
    border: solid orange 3px
    display: inline-block
    vertical-align: top
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)

.bar-current-date-container
    position: relative
    width: 8px
    height: 100%
    text-align: center
    margin-left: -0.75rem
    margin-right: -0.75rem
    cursor: pointer

.bar-current-date-line
    position: absolute
    top: 0
    width: 2px
    height: 100%
    background-color: orange
    left: 50%
    transform: translate(-50%)
    -webkit-transform: translate(-50%)

/* Tooltip text */
.bar-current-date-container .tooltiptext
    visibility: hidden
    width: 120px
    background-color: #555
    color: #fff
    text-align: center
    padding: 5px 0
    border-radius: 6px

    /* Position the tooltip text */
    position: absolute
    z-index: 1
    bottom: 105%
    left: 50%
    margin-left: -60px

    /* Fade in tooltip */
    opacity: 0
    transition: opacity 0.3s

/* Tooltip arrow */
.bar-current-date-container .tooltiptext::after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: #555 transparent transparent transparent

/* Show the tooltip text when you mouse over the tooltip container */
.bar-current-date-container:hover .tooltiptext
    visibility: visible
    opacity: 1
